In [1]:
import pandas as pd
import unidecode

In [2]:
web = pd.read_html("https://trangtuyensinh.com.vn/danh-muc-ma-tinh-thanh-pho-quan-huyen-va-thi-xa.htm")

In [3]:
df[1:].head()

NameError: name 'df' is not defined

In [ ]:
df[1:].groupby('Mã Tỉnh/TP').agg(lambda x: x.value_counts().index[0])

In [8]:
df = web[0]
df.columns = web[0].iloc[0]
matinh = df[1:].groupby('Mã Tỉnh/TP').agg(lambda x:x.value_counts().index[0])
matinh.drop(['STT','Mã Quận/Huyện','Tên Quận/Huyện'], axis=1, inplace=True)
matinh.reset_index(inplace=True)
matinh.columns = ['city_code', 'city_name']
matinh['city_name'] = matinh['city_name'].apply(lambda x: unidecode.unidecode(x))

In [24]:
matinh[:-1].to_csv("city_code.csv", index=False)

In [4]:
set(list(map(str,range(0,63)))) - set(matinh['city_code'].to_list())

NameError: name 'matinh' is not defined

In [34]:
import json

In [35]:
with open(r"diaphantinhenglish.geojson", encoding="utf-8") as f:
    gj = json.load(f)

In [36]:
name_list = []
for i in range(63):
    name = gj['features'][i]['properties']['Name']
    name_list.append(name)

In [48]:
list(set(name_list) - set(matinh['city_name'].to_list()))

['Ba Ria - Vung Tau', 'Thua Thien - Hue', 'TP. Ho Chi Minh']

In [39]:
differ = list(set(matinh['city_name'].to_list()) - set(name_list))

In [44]:
differ

['Thua Thien -Hue', 'Tp. Ho Chi Minh', 'Ba Ria-Vung Tau', 'Cuc nha truong']

In [42]:
city_code.head()

   city_code        city_name
0          1           Ha Noi
1          2  Tp. Ho Chi Minh
2          3        Hai Phong
3          4          Da Nang
4          5         Ha Giang

In [ ]:
df replace_city(name):
    if name == 'Ba Ria-Vung Tau':
        return 'Ba Ria-Vung Tau'
    elif name == 'Tp. Ho Chi Minh':
        return 'TP. Ho Chi Minh'
    elif name == 'Thua Thien -Hue':
        return 'Thua Thien - Hue'

In [53]:
city_code[city_code['city_name'].isin(differ)]['city_name'] = ['Ba Ria - Vung Tau', 'Thua Thien - Hue', 'TP. Ho Chi Minh']

C:\Users\User\AppData\Local\Temp\ipykernel_10944\1834530738.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_code[city_code['city_name'].isin(differ)]['city_name'] = ['Ba Ria - Vung Tau', 'Thua Thien - Hue', 'TP. Ho Chi Minh']

In [52]:
city_code['city_name']

0              Ha Noi
1     Tp. Ho Chi Minh
2           Hai Phong
3             Da Nang
4            Ha Giang
           ...
58           Bac Lieu
59             Ca Mau
60          Dien Bien
61           Dak Nong
62          Hau Giang
Name: city_name, Length: 63, dtype: object

In [16]:
import geopandas as gpd

In [17]:
geo_df = gpd.read_file('diaphantinhenglish.geojson')

In [19]:
geo_df['Name']

0              An Giang
1     Ba Ria - Vung Tau
2             Bac Giang
3               Bac Kan
4              Bac Lieu
            ...
58             Tra Vinh
59          Tuyen Quang
60            Vinh Long
61            Vinh Phuc
62              Yen Bai
Name: Name, Length: 63, dtype: object

In [40]:
city_code = pd.read_csv('city_code.csv')